/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-mode {
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    color: #333;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 8px;
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: #333;
}

/* Products Section */
#products {
    background-color: #444;
    padding: 40px 0;
    text-align: center;
}

body.light-mode #products {
    background-color: #fff;
}

.product-card {
    background-color: #555;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    width: 22%;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    border-radius: 10px;
    height: 380px;
    position: relative;
}

body.light-mode .product-card {
    background-color: #f9f9f9;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-card p {
    font-size: 1.1em;
}

.product-card .btn-primary,
.product-card .btn-add {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    width: 48%;
    box-sizing: border-box;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-card .btn-primary {
    background-color: #00b3ff;
    left: 2%;
}

.product-card .btn-add {
    background-color: #28a745;
    right: 2%;
}

.product-card .btn-primary:hover,
.product-card .btn-add:hover {
    background-color: #007acc;
    transform: translateY(-3px);
}

.product-card .btn-add:hover {
    background-color: #218838;
}
